<section class="footer">
    <footer>
    	<span class="footer__copyright"><a href="http://down.codersworld.cn/wwwroot/bookmarks.html"><p>Copyright &copy; 2017.John All rights reserved.</p></a></span>
        <span class="footer__copyright"><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=36011102000179"><p>赣公网安备：36011102000179号</p></a></span>
        <span class="footer__copyright"><a href="http://www.miitbeian.gov.cn/"><p>赣ICP备：17016366号</p></a></span>
    </footer>
</section>



                  
                  